<div class="jumbotron text-center">
  <h1>Contact us</h1>
  <br/>
  <br/>
  <p>Need help with something? Send us a message</p>
  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2 mt-3">
      {{input data-test-email-input type="email" value=contact.email class="form-control" placeholder="Please type your e-mail address."
      autofocus="autofocus"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2 mt-3">
      {{textarea data-test-msg-input value=contact.message class="form-control" placeholder="Your message (at least 5 characters)." autofocus="autofocus" rows="7"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      <button class="btn btn-primary btn-lg btn-block" disabled={{disabled}} {{action 'submitContact' contact}} data-test-send-btn>Send message</button>
    </div>
  </div>
  {{#if successMessage}}
    <div class="alert alert-success" data-test-success-msg>{{successMessage}}</div>
  {{/if}}
  <br/>
  <br/>
</div>